<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
         <a href="/login"><h1>Ingresa a tu Banco de Confianza</h1></a>
    </header>
    <main>
       <p>Juan David Velez Piedrahita.</p>
        
    </main>
    <footer>
        <p>&copy; 2025 - Desarrollo de Experiencias Multimedia</p>
    </footer>
</body>
</html>