<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id='logoutButton' class="login-btn">
                <i class="fas fa-user"></i>
                {{#if message}}
                {{#if data_user}}
                    <span>{{message}}{{data_user.name}}</span>
                    {{/if}}
                {{/if}}
            </button>
    <script>
                console.log('Hola, estoy en el dashboard');
                document.getElementById('logoutButton').addEventListener('click', async() => {
                try{
                    console.log('Cerrando sesión...');
                    const response = await fetch('/auth/logout', {method: 'POST'}); //El metodo post se usa para formularios, debido a que es mas seguro, se usa GET cuando se necesita pasar informacion por la URL
                    if (response.ok){
                      window.location.href = '/'; //Redirige al index
                    } else {
                    alert('Error al cerrar sesión');
                    }
                } catch (error) {
                    console.error('Error:', error);
                    alert('Error cerrando sesión');
                }
                });
    </script>
</body>
</html>